@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.notice {
  color: green;
}

.error{
  color:red;
  font-size:30px;
  margin-left:50px;
}

.errors{
  color:red;
  margin-left:50px;
}